body {
  font-family: "Raleway", sans-serif;
}


.my-5.fw-semibold {
  text-shadow: 
  -1px -1px 0 black,  /* Sombra hacia la izquierda arriba */
   1px -1px 0 black,  /* Sombra hacia la derecha arriba */
  -1px  1px 0 black,  /* Sombra hacia la izquierda abajo */
   1px  1px 0 black;; 

}

#Hero-Section {
  background-image: url("../img/279784700_527994868714704_6295935055322910019_n.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right bottom;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}

.img-fluid{
  display: flex  ;
  height: 3rem;
}
.my-5.p-5.bg-info{    
  background-color:#595b5f !important;}
